h1 {
    font-family: 'Montserrat Semi Bold', sans-serif; // Police de caractères Montserrat Semi Bold
    font-size: inherit;} 
    .gradient-line {
        height: 2px; // Ajuster l'épaisseur de la ligne
        background: linear-gradient(to right, #B5D653, #3DAD5C) }
    .thin-gradient-line {
            height: 1px; // Ajuster l'épaisseur de la ligne
            background: linear-gradient(to right, #B5D653, #79C258);}