body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}

.next,
.prev {
  cursor: pointer;
  z-index: 99;
  position: fixed;
  top: 50%;

  img {
    width: 100%;
  }
}

.next {
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 5vw;
  transform: translateY(-50%) rotate(180deg);
  visibility: hidden;
  opacity: 0;
}

.gradient-line {
  height: 4px;
  background: linear-gradient(to right, #b5d653, #3dad5c);
}

.thin-gradient-line {
  height: 3px;
  background: linear-gradient(to right, #b5d653, #79c258);
}

.slider-container {
  height: 100%;
  display: flex;
  align-items: center;
}

#slide-1 {
  visibility: hidden;
  opacity: 0;
}

#slide-2 {
  visibility: hidden;
  opacity: 0;
}

#slide-2-small {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.activeSlide {
  visibility: visible !important;
  opacity: 1 !important;
}

.slideItem {
  transition: all 0.3s ease;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 141px;
}

.slideItemTwo {
  background: url(../images/slide-2-bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  z-index: -1;
  height: calc(100vh - 75px);
  visibility: hidden;
  opacity: 0;

  .slide_text_box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10vw;
  }
}

.slide_img_wrapper_helper {
  width: 40%;

  .next,
  .prev {
    display: none;
    position: unset;
    right: unset;
    top: unset;
  }

  .next {
    transform: unset;
    margin-right: 2rem;
  }

  .prev {
    transform: rotate(180deg);
    margin-left: 2rem;
  }
}

.slide_img_wrapper {
  width: 100%;

  img {
    width: 100%;
  }
}

.slide_text_box {
  $color-black: #313131;
  max-width: 700px;
  padding: 0 25px;

  h1 {
    font-size: 50px;
    font-weight: 600;
    color: $color-black;
    margin-bottom: 50px;
    position: relative;
    margin-left: 2vw;

    &::before {
      content: "";
      background-color: $color-lightgreen;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -2vw;
    }
  }

  p {
    font-size: 22px;
    color: $color-black;
    text-align: justify;
    letter-spacing: -0.3px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
  }

  .gradient-line {
    max-width: 300px;
    margin: 25px 0;
  }
}